[init]
  defaultBranch = "main"

[user]
  name = "Christian Kaisermann"
  email = "christian@kaisermann.me"

[github]
  user = "kaisermann"

[core]
  excludesfile = ~/.gitignore.global
	editor = code --wait
  filemode = false
  trustctime = false
  autocrlf = input
  ignorecase = false

[alias]
  co = checkout
  ci = commit
  cm = "!f() { git commit -m \"$*\"; }; f"
  cmnv = "!f() { git commit -m \"$*\" --no-verify; }; f"
  amend = commit --amend -C HEAD
  uncommit = reset --soft HEAD~
  st = status
  sts = status -sb
  br = branch
  df = diff
  dfs = diff --stat
  dfc = diff --cached
  dfcs = diff --cached --stat
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ls = log --pretty=oneline --graph --abbrev-commit --stat
  show-ignored = "! git clean -ndX | perl -pe 's/Would remove/Ignored:/'"
  changelog = log --oneline --abbrev-commit --no-merges
  unstage = reset HEAD --
  rsh = "!f() { git reset --soft HEAD~${1}; }; f"
  rhh = "!f() { git reset --hard HEAD~${1}; }; f"
  rbi = "!f() { git rebase -i HEAD~${1}; }; f"
  rbc = rebase --continue
  rbs = rebase --skip
  cr = clone --recursive
  rba = rebase --abort
  cp = cherry-pick
  cpc = cherry-pick --continue
  cpa = cherry-pick --abort
  fml = !git fetch origin && git reset --hard origin/$(git rev-parse --abbrev-ref HEAD)
  contrib = shortlog --summary --numbered
  foda-se = reset --hard HEAD
  sync = !git tag -l | xargs git tag -d && git fetch -t
  g = grep --break --heading --line-number
  polite-force-push = push --force-with-lease
	recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
	bora = !gh pr create --fill --web
  pei = bora

[pager]
  diff = diff-so-fancy | less --tabs=2 -RFX
  show = diff-so-fancy | less --tabs=2 -RFX

[color]
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

# [credential]
#   helper = osxkeychain

[grep]
  lineNumber = true

[help]
  autocorrect = 1

[difftool]
  prompt = false

[mergetool]
  prompt = false

[push]
	default = current
  followTags = true

[pull]
  rebase = true

[fetch]
  prune = true

[diff]
  renames = copies
  tool = Kaleidoscope

[url "git@github.com:vtex-apps/"]
    insteadOf = va:

[url "git@github.com:vtex/"]
    insteadOf = v:

[url "git@github.com:getcircuit/"]
    insteadOf = gc:

[url "git@github.com:kaisermann/"]
    insteadOf = kaisermann:
